<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель Администратора</title>
</head>
<body>
<h1>Панель Администратора</h1>

<!-- Уведомление -->
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

<!-- Форма загрузки меню -->
<div>
    <section>
        <h2>Загрузить меню (PDF)</h2>
        <form th:action="@{/restaurant/admin/upload-menu}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="application/pdf" required>
            <button type="submit">Загрузить меню</button>
        </form>
    </section>
</div>

<!-- Форма создания резервации -->
<div>
    <section>
        <h2>Создать резервацию</h2>
        <form th:action="@{/restaurant/admin/reserve}" th:object="${reservationForm}" method="post">
            <label>Имя клиента: <input type="text" th:field="*{customerName}" required></label><br>
            <label>Email клиента: <input type="email" th:field="*{customerEmail}" required></label><br>
            <label>Количество гостей: <input type="number" th:field="*{guestNumber}" min="1" required></label><br>
            <label>Начало: <input type="datetime-local" th:field="*{startDateTime}" required></label><br>
            <label>Окончание: <input type="time" th:field="*{endTime}" required></label><br>
            <button type="submit">Создать</button>
        </form>
    </section>
</div>

<!-- Форма отмены брони -->
<div>
    <section>
        <h2>Отменить резервацию</h2>
        <form th:action="@{/restaurant/admin/cancel}" method="post">
            <label>Код резервации: <input type="text" name="reservationCode" required></label>
            <button type="submit">Отменить</button>
        </form>
    </section>
</div>

<!-- Поиск резерваций по дате -->
<div>
    <section>
        <h2>Найти резервации по дате</h2>
        <form th:action="@{/restaurant/admin/reservations/confirmed/by-date}" method="get">
            <label>Дата:
                <input type="date" name="date" required>
            </label>
            <button type="submit">Показать</button>
        </form>
    </section>
</div>

<!-- Поиск резерваций по столику -->
<div>
    <section>
        <h2>Найти резервации по столику</h2>
        <form th:action="@{/restaurant/admin/reservations/today}" method="get">
            <label>Номер столика:
                <input type="number" name="tableNumber" min="1" required>
            </label>
            <button type="submit">Показать</button>
        </form>
    </section>
</div>

<div class="table-cansellation__link">
    <a th:href="@{/restaurant}">Вернуться на Главную Страницу</a>
</div>

</body>
</html>